<!DOCtype html>
<html>

<head>
    <title>Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link rel="stylesheet" type="text/css" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <style>
        .notfound {
            position: relative;
            left: 50%;
            top: 30%;
            width: 400px;
            margin-left: -200px;
        }
        
        .notfound img {
            position: relative;
            margin-left: -64px;
            left: 50%;
        }
        
        .notfound h3 {
            margin-top: 10px;
            text-align: center;
            font-size: 1.4em;
        }

    </style>
</head>

<body>
    <header>
        <span class="navIcon">&#9776;</span>
        <h2>NIC | Night Duty</h2>

        <div class="navbar">
            <div>
                <h2>NIC</h2>
            </div>
            <span class="closeButton">&times;</span>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </header>
    <div class="notfound">
        <img src="images/warning.png">
        <h3>404 not found.</h3>
    </div>
    <script type="text/javascript" src="javascripts/script.js"></script>
</body>

</html>
