<!DOCtype html>
<html>

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link rel="stylesheet" type="text/css" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body class="login">

    <header>
        <span class="navIcon">&#9776;</span>
        <h2>NIC | Night Duty</h2>

        <div class="navbar">
            <div>
                <h2>NIC</h2>
            </div>
            <span class="closeButton">&times;</span>
            <ul>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </header>
    <div class="middleBox">
        <img src="images/niclogo.gif" alt="NIC Logo">
        <h1>Welcome to NIC Nightduty App</h1>
        <button class="k-button k-primary loginButton">Login
        </button>
    </div>

    <div id="loginBox">
        <header>Login</header>
        <span class="loginBoxClose">&lt;</span>
        <form>
            <input class="textBox" id="empName" name="empName" type="text" placeholder="Name" required>
            <input class="textBox" id="password" name="password" type="password" placeholder="Password" required>
            <button class="k-button k-primary boxLoginButton" type="submit" formmethod="post" formaction="/login">Login</button>
        </form>
            <button class="k-button boxRegisterButton"><a href="/register">Register</a></button>
    </div>

    <script type="text/javascript" src="javascripts/script.js"></script>
</body>

</html>
