<!DOCtype html>
<html>

<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link rel="stylesheet" type="text/css" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>

<body class="register">
    <header>
        <span class="navIcon">&#9776;</span>
        <div class="navbar">
            <span class="closeButton">&times;</span>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    </header>
    <div class="registerForm">
        <form action="/register" method="post">
            <ul>
                <li>
                    <label for="empId">Employee Id</label>
                    <input class="textBox k-textbox" id="empId" type="text" placeholder="0000" name="empId">
                </li>
                <li>
                    <label for="empName">Name</label>
                    <input class="textBox k-textbox" id="empName" type="text" placeholder="Name" name="empName">
                </li>
                <li>
                    <label for="designation">Designation</label>
                    <select class="textBox" id="designation" name="designation">
                        <option>Scientist A</option>
                        <option>Scientist B</option>
                        <option>Scientist C</option>
                        <option>Scientist D</option>
                    </select>
                </li>
                <li>
                    <label for="password">Password</label>
                    <input class="textBox k-textbox" id="password" type="password" placeholder="At least 6 characters long" name="password">
                </li>
                <li>
                    <label for="confirmPassword">Confirm Password</label>
                    <input class="textBox k-textbox" id="confirmPassword" type="password" placeholder="Re-enter password">
                </li>
                <li>
                    <div class="g-recaptcha captchaStyle" data-sitekey="6Lfd_ycUAAAAAC83sUyFOoADW08cE2QV-eFo5t4a"></div>
                </li>
                <li>
                    <button class="k-button k-primary registerButton">Register</button>
                </li>
            </ul>
        </form>
    </div>

    <script type="text/javascript" src="javascripts/script.js"></script>
</body>

</html>
