<!DOCtype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link rel="stylesheet" type="text/css" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>

<body>
    <div class="back"></div>

    <header>
        <span class="navbar-lines">&#9776;</span>
        <div class="nav">
            <span class="close-btn">&times;</span>
            <ul>
                <a href="/login">
                    <li>Login</li>
                </a>
                <a href="/register">
                    <li>Register</li>
                </a>
            </ul>
        </div>
    </header>
    <div class="form-middle k-content">
        <form action="/register" method="post">
            <ul class="fieldlist">
                <li>
                    <label for="emp-id">Employee Id</label>
                    <input class="text-box k-textbox" id="emp-id" type="text" placeholder="0000" name="empId">
                </li>
                <li>
                    <label for="emp-name">Name</label>
                    <input class="text-box k-textbox" id="emp-name" type="text" placeholder="Name" name="empName">
                </li>
                <li>
                    <label for="designation">Designation</label>
                    <select class="text-box" id="designation" name="designation">
                        <option>Scientist A</option>
                        <option>Scientist B</option>
                        <option>Scientist C</option>
                        <option>Scientist D</option>
                    </select>
                </li>
                <li>
                    <label for="password">Password</label>
                    <input class="text-box k-textbox" id="password" type="password" placeholder="At least 6 characters long" name="password">
                </li>
                <li>
                    <label for="password-confirm">Confirm Password</label>
                    <input class="text-box k-textbox" id="password-confirm" type="password" placeholder="Re-enter password">
                </li>
                <li>
                    <div class="g-recaptcha captcha-style" data-sitekey="6Lfd_ycUAAAAAC83sUyFOoADW08cE2QV-eFo5t4a"></div>
                </li>
                <li>
<!--                    <button class="k-button k-primary register-btn">Register</button>-->
                    <input type="submit" class="k-button k-primary register-btn" value="Register">
                </li>
            </ul>
        </form>
    </div>

</body>
<script type="text/javascript" src="javascripts/script.js"></script>

</html>
