<!DOCtype html>
<html>

<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link rel="stylesheet" type="text/css" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body class="adminHome">
    <header>
        <span class="navIcon">&#9776;</span>
        <h2>NIC | Night Duty</h2>

        <div class="navbar">
            <div>
                <h2>NIC</h2>
            </div>
            <span class="closeButton">&times;</span>
            <ul>
                <li><a href="/admin">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </header>
       <div class="location">
        <div class="error"><span class="exclamation">!</span><span class="errorMessage"></span></div>
        <form action="/schedule" method="post">
            <ul>
                <li>
                    <label for="address">Employees</label>
                    <select class="selectClass" id="emplist" name="name"></select>
                </li>
                <li>
                    <label for="address">Address</label>
                    <select class="selectClass" id="location" name="address"></select>
                </li>
                <li>
                    <label for="date">Date and time (8 hours duty)</label>
                    <input class="textBox k-textbox" type="datetime-local" name="date">
                </li>
                <li>
                    <button class="k-button k-primary registerButton">Schedule</button>
                </li>
            </ul>
        </form>
    </div>
    <div class="addLocation" style="margin-top: 100px">
        <form style="position: relative; left: 50%; margin-left: -20vw;">
            <br><br>
            <!-- <a href="#" class="k-primary k-button">Add locations(max 5)</a> -->
        </form>
    </div>
    <script type="text/javascript" src="javascripts/script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw39TMCLBtAlMEei3NQNTv1PPRM5LKIIA"></script>
</body>

</html>
