/*Global styles*/


/*Media queries to be added to make UI responsive*/

* {
    box-sizing: border-box;
    /*    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    position: absolute;
    width: 100%;
}

body.login {
    min-height: 600px;
}

body.register {
    min-height: 650px;
}

.error {
    background-color: #FFBABA;
    color: #D8000C;
    padding: 4px;
    position: absolute;
    visibility: hidden;
}

.error .exclamation {
    border: 1px solid #D8000C;
    border-radius: 50%;
    font-weight: 600;
    margin-right: 10px;
    padding: 4px 10px;
}

.welcome {
    position: relative;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    margin-top: 100px;
}

.welcome img {
    position: relative;
    left: 50%;
    margin-left: -64px;
    margin-bottom: 10px;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 3px solid #3f51b5;
}

.welcome h3 {
    text-align: center;
    font-size: 1.4em;
}

.designation {
    font-style: italic;
    color: grey;
}

body.profile .welcome {
    width: 400px;
    margin-left: -200px;
}

.main {
    margin-top: 50px;
}

.main .k-button {
    position: relative;
    margin-top: 20px;
    width: 250px;
    display: block;
    left: 50%;
    margin-left: -125px;
}


/*Globals / Form */

form>ul {
    list-style: none;
}

label {
    display: block;
    color: #444;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 1em;
    padding-top: 1em;
    text-transform: uppercase;
}

.k-button {
    border-radius: 4px;
}

.k-textbox {
    border: 1px solid #CCC;
    width: 100%;
}

.textBox {
    border: 1px solid #CCC;
    padding: 10px;
    width: 100%;
}

.selectClass {
    border: 1px solid #CCC;
    width: 100%;
}


/*Globals / Header, Navbar*/

header {
    background: #3f51b5;
    height: 49px;
    padding: 14px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
}

header h2 {
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}

.navIcon {
    color: white;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 900;
    left: 20px;
    position: fixed;
    top: 10px;
}

.navbar {
    background: #3c415b;
    height: 100%;
    left: 0;
    margin-left: -300px;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: .5s ease;
    width: 300px;
    z-index: 1;
}

.navbar div {
    background: #2a2d40;
    font-size: 1.2em;
    font-weight: 600;
    height: 49px;
    left: 0;
    padding: 14px;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    border-bottom: 1px solid #CCC;
}

.navbar li:hover {
    background: #CCC;
    cursor: pointer;
}

.navbar a {
    color: #fff;
    display: block;
    font-size: 1.6em;
    padding: 17px 0 17px 20px;
    text-align: left;
    text-decoration: none;
}

.closeButton {
    color: white;
    cursor: pointer;
    font-size: 2.4em;
    right: 20px;
    position: absolute;
    top: 5px;
}


/*Login page*/

.middleBox {
    position: absolute;
    margin-top: -150px;
    top: 40%;
    width: 100%;
}

.middleBox img {
    display: block;
    margin: auto;
    width: 40vw;
}

.middleBox h1 {
    font-size: 2.5em;
    padding: 2em;
    text-align: center;
}


/*Login page / Login Box*/

#loginBox {
    background: white;
    height: 100%;
    margin-top: 100%;
    position: fixed;
    transition: .7s linear;
    width: 100%;
    z-index: 1;
}

#loginBox header {
    color: white;
    font-size: 1.2em;
    margin-bottom: 100px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.loginBoxClose {
    color: white;
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 1;
}

#loginBox form {
    margin-top: 50px;
}

#loginBox .textBox {
    border: 0;
    border-bottom: 1px solid #CCC;
    font-size: 1.2em;
    outline: none;
    padding: 20px 10px;
    text-align: center;
}

a {
    text-decoration: none;
}

a .boxRegisterButton {
    color: black;
    display: block;
    text-decoration: none;
}

.loginButton,
.boxLoginButton,
.boxRegisterButton {
    box-shadow: none;
    display: block;
    left: 50vw;
    margin-left: -45vw;
    margin-top: 20px;
    position: relative;
    width: 90vw;
}

.boxRegisterButton {
    background: white;
    border: 1px solid #888;
}

.boxRegisterButton:hover,
.boxRegisterButton:active {
    background: white;
    border: 1px solid #888;
    box-shadow: none;
}

.loginButton:hover,
.boxLoginButton:hover {
    background: #3f51b5;
    box-shadow: none;
}

.captchaStyle {
    left: 50%;
    margin-left: -156px;
    margin-top: 1em;
    position: relative;
}

.registerForm, .create {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    left: 50%;
    margin-left: -200px;
    margin-top: -260px;
    padding: 20px;
    position: absolute;
    top: 50%;
    width: 400px;
}

.registerButton {
    margin-top: 1em;
    float: right;
}