* {
    box-sizing: border-box;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    position: absolute;
    width: 100%;
}

body.register {
    min-height: 650px;
}

.middleBox {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -150px;
}

.middleBox img {
    display: block;
    margin: auto;
    width: 40vw;
}

.middleBox h1 {
    font-size: 2.5em;
    padding: 2em;
    text-align: center;
}

.loginButton {
    position: relative;
    left: 50vw;
    margin-left: -40vw;
    width: 80vw;
}

.navIcon {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 1.4em;
}

.navbar {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    margin-left: -300px;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: .5s ease;
    width: 300px;
    z-index: 1;
}

.navbar ul {
    list-style: none;
}

.navbar li:hover {
    background: #CCC;
    cursor: pointer;
}

.navbar a {
    display: block;
    font-size: 2em;
    padding: 10px 0 10px 20px;
    text-decoration: none;
    color: black;
}

.closeButton {
    position: absolute;
    font-size: 2.4em;
    cursor: pointer;
    top: 10px;
    right: 20px;
}

.captchaStyle {
    position: relative;
    left: 50%;
    margin-left: -156px;
    margin-top: 1em;
}

.registerForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    left: 50%;
    margin-left: -200px;
    margin-top: -278px;
    padding: 20px;
    position: absolute;
    width: 400px;
    top: 50%;
}

label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 1em;
    padding-top: 1em;
    color: #444;
}

.textBox {
    width: 100%;
    border: 1px solid #CCC;
}

form>ul {
    list-style: none;
}

.registerButton {
    margin-top: 1em;
    float: right;
}
